/* .achievement-image {
  width: 200px;
  height: 200px;
  margin: auto;
} */

.wrapper {
  min-width: 350px;
  max-width: 600px;
  margin: auto;
}

.profile-bar-div {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile-btn {
  height: 38px;
  width: 204px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  box-shadow: 4px 6px 5px -1px rgba(191, 191, 191, 1);
  color: black;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  background-color: #aac4cf;
}

.profile-btn:hover {
  background-color: #568a9f;
}

.profile-btn.small {
  height: 30px;
  width: 100px;
  margin: 50px;
  font-size: 10px;
  box-shadow: 4px 6px 5px -1px rgba(191, 191, 191, 1);
  cursor: pointer;
}

.profile-bottom {
  border: solid 1px black;
  width: 350px;
  height: 400px;
  margin-top: 100px;
  margin: auto;
  box-shadow: 4px 6px 5px -1px rgba(191, 191, 191, 1);
  border-radius: 10px;
}

progress {
  accent-color: #f09133;
  width: 220px;
  height: 30px;
  margin-right: 20px;
}
.profile-day-count {
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.profile-photo {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  border-radius: 10%;
  margin-left: 5%;
}

.profile-top {
  width: 350px;
  display: flex;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pfpdiv {
  justify-content: flex-end;
  border: 1px black solid;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.progressBar {
  height: 50px;
  width: 250px;
  background-color: rgb(10, 107, 193);
  justify-content: center;
}

.displayname {
  display: flex;
  height: 50px;
  width: 300px;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}
.profile-level-bar {
  margin: 20px;
  height: 20px;
  width: 200px;
  background-color: #bfbfbf;
}

button:disabled:hover {
  background-color: #aac4cf;
  cursor: default;
}

@media only screen and (max-width: 700px) {
  .displayname {
    font-size: 25px;
    justify-content: center;
    width: 260px;
  }

  progress {
    accent-color: #f09133;
    width: 190px;
    height: 30px;
  }
}
