.wrapper {
  /* background-color: red; */
  min-width: 350px;
  max-width: 500px;
  margin: auto;
  width: 95%;
}

h3 {
  margin-bottom: 0;
}
progress {
  accent-color: #f09133;
  height: 50px;
  width: 300px;
}

.google-photo {
  border-radius: 10%;
  border: solid 1px black;
  height: 128px;
  width: 128px;
  margin-left: 19px;
}  

.displayname {
  font-size: 25px;
}

.profile-top {
  /* align-items: left; */
  display: flex;
  height: 100px;
  margin-bottom: 40px;
  width: 350px;
}
.profile-bar-div {
  align-items: center;
  display: flex;
  margin-left: 13px;
  margin-top: 58px;
}

.profile-bar-div.top {
  color: #eb4335;
}

.profile-bar-div.bottom {
  color: #e9c650;
}

.profile-level-bar {
  display: flex;
  height: 20px;
  margin: 10px;
  width: 500px;
}

.profile-level-bar.one {
  background-color: #eb4335;
}

.profile-level-bar.two {
  background-color: #e9c650;
}

.profile-btn {
  align-items: center;
  background-color: #aac4cf;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  height: 38px;
  justify-content: center;
  margin-top: 12px;
  width: 204px;
}

.profile-btn:hover {
  background-color: #568a9f;
}

.profile-bottom {
  border-radius: 8px;
  border: solid 1px black;
  height: 355px;
  margin: auto;
  width: 320px;
}

.achievement-image {
  margin: auto;
  width: 200px;
}

.help-me {
  margin-top: 16px;
}

@media only screen and (max-width: 700px) {
  progress {
    accent-color: #f09133;
    height: 50px;
    width: 160px;
  }
  /* .profile-photo {
    border-radius: 10%;
    height: 145px;
    width: 145px;
    margin-left: 19px;
  } */

  .profile-top {
    display: flex;
    height: 103px;
    width: 350px;
  }

  .pfpdiv {
    border-radius: 10px;
    border: 1px black solid;
    height: 100px;
    justify-content: flex-end;
    width: 100px;
  }

  .progressBar {
    background-color: rgb(10, 107, 193);
    justify-content: center;

    width: 250px;
  }

  .displayname {
   display: flex;
   justify-content: center;
   margin-left: 25px;
   font-weight: bold;
   font-size: 22px;
  }

  .profile-level-bar {
    background-color: #bfbfbf;
    height: 20px;
    margin: 20px;
    width: 200px;
  }

  button:disabled:hover {
    background-color: #aac4cf;
    cursor: default;
  }
}

/* button:disabled:hover
 {
  background-color: #aac4cf;
  cursor: default;
} */