.wrapper {
  min-width: 350px;
  max-width: 600px;
  margin: auto;
}

.profile-bar-div {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile-bar-div.top {
  color: #eb4335;
}

.profile-bar-div.bottom {
  color: #e9c650;
}

.profile-level-bar {
  margin: 10px;
  height: 20px;
  width: 500px;
  display: flex;
}

.profile-level-bar.one {
  background-color: #eb4335;
}

.profile-level-bar.two {
  background-color: #e9c650;
}

.profile-btn {
  height: 38px;
  width: 204px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  background-color: #aac4cf;
}

.profile-btn:hover {
  background-color: #568a9f;
}

.profile-bottom {
  border: solid 1px black;
  width: 350px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
}

.achievement-image {
  width: 200px;
  height: 200px;
  margin: auto;
}

/* @media only screen and (max-width: 700px) { */
progress {
  accent-color: #f09133;
  width: 200px;
  height: 50px;
  margin-right: 20px;
}
.profile-photo {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  border-radius: 10%;
  margin-left: 5%;
}

.profile-top {
  width: 350px;
  display: flex;
  height: 100px;

  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pfpdiv {
  justify-content: flex-end;
  border: 1px black solid;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}
.progressBar {
  height: 50px;
  width: 250px;
  background-color: rgb(10, 107, 193);
  justify-content: center;
}
.displayname {
  display: flex;
  height: 50px;
  width: 250px;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}
.profile-level-bar {
  margin: 20px;
  height: 20px;
  width: 200px;
  background-color: #bfbfbf;
}

button:disabled:hover {
  background-color: #aac4cf;
  cursor: default;
}
