body {
  text-align: center;
}

.google-photo {
  height: 200px;
  border-radius: 50%;
}
.home-logout-button,
.home-ingredients-button {
  height: 38px;
  width: 204px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  margin: 30px;
  border: none;
  background-color: #fbe0b8;
}

.home-logout-button:hover,
.home-ingredients-button:hover {
  background-color: #f09133;
}

.home-ingredients-button {
  width: 250px;
}

@media only screen and (max-width: 700px) {
  .google-photo {
    height: 200px;
    margin: auto;
  }
}
