body {
  text-align: center;
}

.loading {
  margin-top: 320px;
}

.google-photo {
  height: 200px;
  border-radius: 50%;
}

.home-logout-button,
.home-ingredients-button,
.home-create-recipe-button {
  height: 38px;
  width: 204px;
  color: black;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  box-shadow: 4px 6px 5px -1px rgba(191, 191, 191, 1);
  cursor: pointer;
  margin: 17px;
  border: none;
  background-color: #fbe0b8;
}

.home-logout-button {
  margin-top: 0px;
}

.home-create-recipe-button {
  margin-top: 10px;
}

.home-logout-button:hover,
.home-ingredients-button:hover,
.home-create-recipe-button:hover {
  background-color: #f09133;
}

.home-ingredients-button {
  width: 250px;
}

@media only screen and (max-width: 700px) {
  .google-photo {
    height: 200px;
    margin: auto;
  }
}
