.ingredients-list-items {
  display: flex;
  align-items: center;
  padding: 0px;
  text-align: center;
  margin: 0px;
  width: 500px;
}


ul {
  list-style: none;
  margin: auto;
}

p {
  padding-left: 10px;
}

.checkbox {
  height: 30px;
  margin: 0;
}

.x-button {
  width: 25px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  margin: 30px;
}

.x-button:hover {
  background-color: #f09133;
}
