.nav-container {
  display: flex;
  justify-content: center;
}

.nav-list-item {
  margin: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #f09133;
}

@media only screen and (max-width: 700px) {
  .nav-container {
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20.25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-list-item {
    margin: 50px;
    bottom: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: #f09133;
  }
}
