h1 {
  margin: 32.5px ;
  font-weight: 500;
  font-size: 25px;
}

.character-container {
  position: relative;
  height: 210px;
  width: 80px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.accessory-container, .hair-container, .shirt-container, .pants-container, .shoes-container .skintone-container{
  align-content: space-evenly;
  margin: 10px 20px 0px 20px
}

.sel-hair, .sel-accessory {
  position:relative;
  margin: 0 auto;
}

.sel-hair {
  top: -210px;
  z-index: 0;
}

.sel-accessory {
  top: -267px;
  z-index: 1;
}

.skintone-img, .accessory-img {  
  margin: 10px;
  position: relative;
}
